:host, .recipe-entries-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.recipe-entries-table-wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.recipe-entries-table-wrapper2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.recipe-entries-table {
    flex: 1;
}

.json-editor-wrapper {
    flex: 1;
    margin: 5px;
}

.json-editor {
    height: 100%;
}

/* .json-editor[disabled] {
    display: none;
} */

:host ::ng-deep json-editor > div {
    height: 100%;
}

tr.selected {
    background-color: #CACACA;
}