<mat-sidenav-container style="height: 100%">
  <mat-sidenav-content style="display: flex; flex-direction: column;">
    <mat-toolbar color="primary">
      <span>Freeze Dryer</span>
      <span class="fill-remaining-space"></span>
      <button mat-button settings></button>
      <!-- <span class="mat-button-wrapper">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">settings</mat-icon>
      </span> -->
      <a mat-icon-button href="http://192.168.2.57:3000/dashboard/db/all-in-one" target="_blank"><mat-icon>bar_chart</mat-icon></a>
      <a mat-icon-button routerLink="/settings"><mat-icon>settings</mat-icon></a>
      <a mat-icon-button routerLink="/"><mat-icon>home</mat-icon></a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
