<div fxLayout="column" fxFlexFill>
    <div class="controller mat-elevation-z8">
        <recipes-controller></recipes-controller>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto">
        <div class="graph-container mat-elevation-z8" fxFlex="1 1 auto">
            <div #graphViewer></div>
        </div>
        <div fxFlex="25%">
            <div fxLayout="column" fxFlexFill>
                <mat-card fxFlex="nogrow">
                    <mat-card-title>
                        <span>Status</span>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="info"><span class="label">Time: </span><span>{{ recipeTime | date:'HH:mm:ss' }}</span></div>
                        <div class="info" *ngIf="!isFinished"><span class="label">Current step: </span><span>{{ currentStep }}</span></div>
                        <div class="info" *ngIf="!isFinished"><span class="label">Progress: </span><mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar></div>
                        <div class="info" *ngIf="isFinished"><span class="label">Recipe is finished: </span><span>{{ isFinished }}</span></div>
                        <div class="info" *ngIf="!isFinished"><span class="label">Recipe cursor: </span><span>{{ cursor }}</span></div>
                        <div class="info" *ngIf="error"><span class="label">Error: </span><span>{{ error }}</span></div>
                    </mat-card-content>
                </mat-card>
                <relays [disabled]="true" fxFlex="nogrow"></relays>
                <div class="sensors-wrapper">
                    <sensors></sensors>
                </div>
            </div>
        </div>
    </div>
</div>
