<!-- <div class="container" 
  fxLayout="row" 
  fxLayout.xs="column" 
  fxLayout.sm="column" 
  fxLayoutGap="15px" 
  fxLayoutAlign="center">

    <mat-card class="dashboard-card">
      <mat-slide-toggle>Vacuum Pump</mat-slide-toggle>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-slide-toggle>Vacuum Pump Valve</mat-slide-toggle>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-slide-toggle>Condenser</mat-slide-toggle>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-slide-toggle>Heater</mat-slide-toggle>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-slide-toggle>Fan</mat-slide-toggle>
    </mat-card>
</div> -->
<div class="container">
    <mat-card class="dashboard-card">
      <mat-card-title>
        <span>Temperature Sensors</span>
      </mat-card-title>
      <mat-card-content>
          <table mat-table [dataSource]="temperatures" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.sensor_type.display}} </td>
              </ng-container>
            
              <ng-container matColumnDef="temperature">
                <th mat-header-cell *matHeaderCellDef> Temperature </th>
                <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
              </ng-container>

              <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.sensor_id}} </td>
                </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['type', 'temperature', 'ID']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['type', 'temperature', 'ID'];"></tr>
            </table>
      </mat-card-content>
      <mat-card-footer>
        <span class="timestamp">Last updated: {{ timestamp | async | date:'mediumTime' }}</span>
      </mat-card-footer>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-card-title>
        <span>Relays</span>
      </mat-card-title>
      <mat-card-content>
        <div>
          <mat-slide-toggle>Vacuum Pump</mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle>Condenser</mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle>Heater</mat-slide-toggle>
        </div>
      </mat-card-content>
      <mat-card-footer>
          <span class="timestamp">Not implemented yet :(</span>
        </mat-card-footer>
    </mat-card>
</div>