:host {
    flex: 1;
}

.dashboard-card {
    margin: 10px 5px;
}

table {
    width: 100%;
}

.timestamp {
    margin-left: 24px;
    font-size: 12px;
    color: #AAA;
}

.relay-box {
    padding: 10px;
}
