<div class="container">
  <mat-card class="settings-card">
    <mat-card-title>
      <span>Temperature Sensors</span>
    </mat-card-title>
    <mat-card-content>
      <form class="temp-sensor-form">
        <mat-form-field>
          <mat-select placeholder="Select Sensor" [value]="selectedSensorId" (selectionChange)="onTempSensorIdSelectionChange($event)">
            <mat-option *ngFor="let sensorId of sensorIds | async" [value]="sensorId">
              {{sensorId}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select Type" [disabled]="!selectedSensorId" [value]="selectedSensorType" (selectionChange)="onTempSensorTypeSelectionChange($event)">
            <mat-option *ngFor="let sensor of sensors | async" [value]="sensor.id">
              {{sensor.id}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div>
        <span>Sensor Value: {{(sensorTemp | async)?.temperature}}&#176;C</span>&nbsp;
        <button mat-mini-fab color="primary" [disabled]="!selectedSensorId" (click)="refreshTemp()"><mat-icon>refresh</mat-icon></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>